body {
    background: url('../images/musicbk.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    text-align: center;
    background-color: bisque;
    font-family: serif;
    width: 75%;
    height: 60%;
    margin-left: 8%;
}
.form-check  {
    display: none;
    font-family: serif;
}
div span {
    display: none;
}
h4 {
    display: none;
}
#gameOver {
    display: none;
}
/* #rightAnswers {
    display: none;
} */